@font-face {
  font-family: NerdFont;
  src: url("./NerdFont.ttf") format("truetype");
}

body {
    font-family: "Calibri";
    background: black;
}

h1 {
    color: white;
}

.container {
    width: 1440px;
    max-width: calc(100% - 32px);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.racconti {
    width: 250px;
}

.note {
    width: 250px;
}

.poesie {
    width: 250px;
}

a {
    text-decoration: none;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
}

a::after {
    transition: .2s;
    font-family: "NerdFont";
    content: " ";
    font-size: 32px;
    margin-left: 10px;
}

a:hover::after{
    margin-left: 20px;
}
